<!DOCTYPE html>
<html>
  <head>
    <title>ECEN 3350: Programming Digital Systems</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//ecen3350.rocks/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//ecen3350.rocks/static/codemirror.css" rel="stylesheet">
    <link href="//ecen3350.rocks/static/css/custom.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div id="wrap">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">ECEN&nbsp;3350</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Overview</a></li>
              <li><a href="/schedule.html">Schedule</a></li>
              <li><a href="/assignments.html">Assignments</a></li>
              <li><a href="https://moodle.cs.colorado.edu/mod/lti/view.php?id=41298">Piazza</a></li>
              <li><a href="https://moodle.cs.colorado.edu/course/view.php?id=1258">Moodle</a></li>
			  <li class="active"><a href="/nios2/examples/">Nios2 Exercises</a></li>
              <!--<li><a href="">Gradescope</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://ecee.colorado.edu/" style="padding:12px 0;"><img src="/static/logo.png" height=36 /></a></li>
            </ul>
          </div>
        </div>
      </div>
      <main role="main" class="container">

        <div class="my-3 p-3 bg-gray rounded box-shadow">
          <h2>{{ exercise_title }}</h2>
          <p>{{ exercise_desc }}</p>

          {% if asm_error|length %}
            <div class="alert alert-danger" role="alert">
              <h3>Assemble/Link Error:</h3>
              {{ asm_error }}
            </div>
          {% endif %}

          {% if success is defined %}
            {% if success is sameas true %}
              <div class="alert alert-success" role="alert">
                <h3>Passed!</h3>
                {{ feedback }}
              </div>
            {% else %}
              <div class="alert alert-danger" role="alert">
                      <h3>Test case failed</h3>
                      {{ feedback }}<br/><br/>Try Again!
              </div>
            {% endif %}
          {% endif %}

          <form action="/nios2/examples/{{ eid }}" method="POST">
            <div class="form-group">
              <label for="assembly">Your Code</label>
              <div style="border: 1px solid #000"><textarea name="asm" id="assembly" class="form-control" rows="40" style="font-family:monospace; border: 1px solid #000;">{{ exercise_code }}</textarea></div>
              <br/>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>

	  </main>
    </div>
    <script src="//ecen3350.rocks/static/js/jquery-3.4.1.min.js"></script>
    <script src="//ecen3350.rocks/static/js/bootstrap.min.js"></script>
    <script src="//ecen3350.rocks/static/codemirror.js"></script>
    <script>
      var editor = CodeMirror.fromTextArea(document.getElementById('assembly'), {
        lineNumbers: true,
      });
        editor.setSize(null, '750px');
    </script>
  </body>
</html>
